html {
  z-index: 99999;
  scroll-behavior: smooth;
}
.hero-section {
  padding-top: 8rem;
  background-color: #ecf4d6;
  height: 100vh;
}
.hero-section .text-center {
  padding: 1rem 3rem;
  text-align: center;
  display: block;
  align-items: center;
}
.hero-section .text-center p {
  text-align: center;
  padding: 1rem 5rem;
}
.aboutme {
  padding-top: 8rem;
  background-color: #637e76;
  height: 100vh;
  color: #fff;
}
.aboutme span {
  color: #000;
}

#gallery {
  height: 100vh;
  padding-top: 2rem;
}
#gallery .container .row img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  margin: 4px;
  padding: 2rem;
}
.navbar {
  position: fixed;
  width: 100%;
}
#contact {
  height: 100vh;
}
#contact h2 {
  padding-top: 2rem;
}
